:root {
    /* Color Variables */
    --primary-color: #111111;
    --secondary-color: #ffffff;
    --bg-color: #EFF2F6;
    --sub-text-color: rgba(92, 92, 92, 0.8);
    --border-color: #CACACA;

    /* Layout Variables */
    --inner-width: 1640px;
    /* source 1, 2 기준 (source 3: 1700px) */
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.inner {
    max-width: 1640px;
    margin: 0 auto;
}

.title-box .section-title {
    font-size: 2.75em;
    /* 44px */
    font-weight: 600;
    letter-spacing: -0.05em;
}

.title-box>.sub-title {
    font-size: 1.25em;
    /* 20px */
    font-weight: 600;
    letter-spacing: 0.06em;
    line-height: 1.6;
    padding-top: 0.5em;
}

.title-box>.detail {
    color: var(--sub-text-color);
    line-height: 1.5em;
    padding: 1.5em 0;
}

.btn>a {
    background: var(--bg-color);
    border-radius: 10px;
    border: var(--border-color) solid 1px;
    color: #414040;
    padding: 0 24px;
    height: 40px;
    display: inline-flex;
    align-items: center;
}