/* 아이패드 */
@media screen and (max-width:1279px) {
    body {
        font-size: 14px;
    }

    .clubmovement-wrap .title-box {
        padding-left: 30px;
    }

    .footer-inner {
        flex-direction: column;
        gap: 48px;
    }

    .header-inner nav {
        position: fixed;
        width: 100%;
        right: 0%;
        top: 0;
        background: #111;
        height: 100vh;
        /* display: none; */
    }

    .ham-btn {
        display: block;
    }

    header:has(.sub-list:hover)::after,
    header:has(.main-menu > li:hover .sub-list)::after {
        opacity: 0;
    }

    .gnb-list {
        display: none;
    }

    .m-header {
        display: block;
        /* padding: 1em; */
    }

    .m-header>div {
        border-bottom: 2px solid rgba(255, 255, 255, 0.15);
        padding: 23.5px;
        position: relative;
    }

    .m-header>div button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.5em;
        /* 햄버거 배경 */
    }

    .m-header>div button.close {
        /* close 배경 */
    }

    .m-header>div p {
        text-align: center;
    }

    .m-header>div p img {
        width: 185px;
    }

    .main-menu {
        flex-direction: column;
        gap: 0;

    }

    .main-menu>li>a {
        line-height: 1.5;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding: 1em 3em;
        /* 화살표 */
        font-size: 16px;
    }

    .main-menu>.active>a {
        /* 반대화살표 */
    }

    .sub-list {
        display: none;
        position: static;
        opacity: 0;
        visibility: visible;
        /* display: none; */
        background: #1D1D1D;
        /* justify-content: center; */
        padding: 42px 0 52px 140px;
        gap: 180px;
    }

    .main-menu>li:hover .sub-list {
        display: flex;
        opacity: 1;
    }

    .sub-list .depth {
        padding-top: 20px;
    }

}

/* 핸드폰 */
@media screen and (max-width:767px) {
    body {
        font-size: 12px;
    }

    .address-right>.footer-menu {
        display: none;
    }

    .sub-list {
        /* flex-direction: column;
        gap: 1em; */
        display: none;
        padding: 0;
    }


    .main-menu>li:hover .sub-list {
        display: block;
        opacity: 1;
    }

    .sub-list>li>a {
        padding: 1em 4em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        /* 화살표배경 */
    }

    .sub-list>.active>a {
        /* 반대화살표 */
    }

    .depth {
        display: none;
        background: #292929;
        padding: 1em 6em 2em;
        gap: 1.5em;
    }

    .main-menu>li .sub-list>li:hover .depth {
        display: flex;
        opacity: 1;
    }

}