body {
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    color: #111111;
    background-color: #EFF2F6;
}

.inner {
    max-width: 1640px;
    background-color: rgba(255, 0, 0, 0.1);
    margin: 0 auto;
}

/* main */
/* main 공통영역 */

.title-box .section-title {
    font-size: 44px;
    font-weight: 600;
    letter-spacing: -0.6%;
    margin-bottom: 8px;
    font-family: "Pretendard", sans-serif;
    color: #000000;
}

.title-box .sub-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: #000000;
}

.title-box .detail {
    margin: 24px 0;
    color: rgba(96, 96, 96, 0.8);
    line-height: 24px;
}

.btn {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cacaca;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.btn>a {
    color: #414040;
}

/* main-slider */
.main-slider-list>li .img-box>img {
    width: 100%;
}

/* best-wrap */
.best-wrap .inner {
    height: 960px;
}

.best-wrap .title-box {
    text-align: center;
    padding: 78px 0 62px;
}

.best-wrap .title-box>h2 {
    font-size: 44px;
    font-weight: 600;
}

.best-wrap .title-box .sub-title {
    font-size: 20px;
    padding: 10px 0 0;
    font-weight: 600;
    color: #111111;
    letter-spacing: 1px;
}

.best-list>li .img-box .hover-img {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}

.best-list>li:hover .img-box .hover-img {
    opacity: 1;
}


.best-wrap .text-box {
    padding: 8px 20px 0;
}

.best-list .text-box .item-name {
    font-size: 17px;
    font-weight: 500;
}

.best-list .text-box .price {
    margin: 8px 0;
    font-size: 15px;
}

.best-list .text-box .item-color {}

.best-list .text-box .item-color>span {
    display: inline-flex;
    gap: 8px;
    background-color: #111111;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.best-list .text-box .item-color .black {
    background-color: #2F2F2F
}

.best-list .text-box .item-color .gray {
    background-color: #626260
}

.best-list .text-box .item-color .brown {
    background-color: #B4866D;
}

.best-list .text-box .item-color .ivory {
    background-color: #E3DFDC;
}