body {
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    color: #111111;
    background-color: #EFF2F6;
}

.inner {
    max-width: 1640px;
    background-color: rgba(255, 0, 0, 0.1);
    margin: 0 auto;
}

/* ----------------------------------main----------------------------------- */

.title-box .section-title {
    font-size: 44px;
    font-weight: 600;
    letter-spacing: -0.6%;
    margin-bottom: 8px;
    font-family: "Pretendard", sans-serif;
    color: #000000;
}

.title-box .sub-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: #000000;
}

.title-box .detail {
    margin: 24px 0;
    color: rgba(96, 96, 96, 0.8);
    line-height: 24px;
}

.btn {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cacaca;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.btn>a {
    color: #414040;
}

/* main-slider */
.main-slider-list>li .img-box>img {
    width: 100%;
}

/* best-wrap */
.best-wrap .inner {
    height: 960px;
}

.best-wrap .title-box {
    text-align: center;
    padding: 78px 0 62px;
}

.best-wrap .title-box>h2 {
    font-size: 44px;
    font-weight: 600;
}

.best-wrap .title-box .sub-title {
    font-size: 20px;
    padding: 10px 0 0;
    font-weight: 600;
    color: #111111;
    letter-spacing: 1px;
}

.best-list>li .img-box .hover-img {
    /* display: none; */
    position: absolute;
    top: 50%;
    right: 140px;
    transform: translateY(-50%);
    width: 1080px;
    height: 608px;
    border: none;
    z-index: 1;
}

/* 변수 선언하기 */
:root {
    /* color */
    --Primary-color: #111;
    --Secondary-color: #fff;
    --bg-color: #EFF2F6;

    /* layout */
    --inner-width: 1700px;
    /* spacing */
    /* border */
    /* transition */
}

.inner {
    color: var(--Primary-color);
    margin: 0 auto;
    max-width: var(--inner-width);
}

body {
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    background: var(--bg-color);
}

/* pc 에서 숨기기 */
.ham-btn,
.close-btn {
    display: none;
}

/* btn 공통 */
.btn>a {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 6px 24px;
}

/* title-box 공통 */
.title-box .section-title {
    font-size: 2.75em;
    font-weight: 600;
    color: var(--Primary-color);
}

.title-box .sub-title {
    margin: 8px 0 24px;
    font-size: 1.25em;
    font-weight: 600;
    color: var(--Primary-color);
}

.title-box .detail {
    margin-bottom: 24px;
    color: #5c5c5c;
    line-hiehgt: 0;
}

/* project */

.project-wrap .inner {
    display: flex;
    gap: 50px;
    padding: 60px 140px;
    background: var(--Secondary-color);
}

.project-wrap .project-list-left {
    position: relative;
}

.project-wrap .project-list-left .img-box-left {
    height: 100%;
}

.project-wrap .project-list-left .img-box-left>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 사진 꽉채우기 + 찌그러짐 방지 */
}

.project-wrap .project-list-left .img-box-left .img-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0%;
}

.project-wrap .project-list-left .text-box-left {
    /* background: rgba(0, 255, 0, 0.1); */
    position: absolute;
    bottom: 40px;
    right: 50px;
    font-size: 1.25em;
    line-height: 1.3em;
    color:var(--Secondary-color);
}


.project-wrap .project-list-right .title-box {
    margin-bottom: 114px;
}

.project-wrap .project-list-right .title-box .btn>a {
    color: #414040;
    background-color: #EFF2F6;
    border: 1px solid #CACACA;
}

.project-wrap .project-list-right .project-img>ul {
    display: flex;
    gap: 43px;
}

.project-wrap .project-list-right .project-img {
    position: relative;
}

.project-wrap .project-list-right .project-img .img-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-wrap .project-list-right .project-img .img-box {
    position: relative;
}

.project-wrap .project-list-right .project-img .img-box .img-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}

.project-wrap .project-list-right .project-img .text-box {
    position: absolute;
    /* background: pink; */
    top: 20px;
    transform: translateX(110px);
    color: #fff;
    line-height: 1.3em;
}

.project-wrap .project-list-right .project-img .text-box .space {}

.project-wrap .project-list-right .project-img .text-box .location {
    font-size: 0.88em;
}


/* ----------------------------------footer----------------------------------- */
footer {
    width: 100%;
    max-width: 1920px;
    height: 280px;
    margin: 0 auto;
    padding: 80px 140px; 
    box-sizing: border-box;
    background-color: #000000;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.footer-inner .address-left {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}

.best-list>li:hover .img-box .hover-img {
    opacity: 1;
}


.best-wrap .text-box {
    padding: 8px 20px 0;
}

.best-list .text-box .item-name {
    font-size: 17px;
    font-weight: 500;
}

.best-list .text-box .price {
    margin: 8px 0;
    font-size: 15px;
}

.best-list .text-box .item-color {}

.best-list .text-box .item-color>span {
    display: inline-flex;
    gap: 8px;
    background-color: #111111;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.best-list .text-box .item-color .black {
    background-color: #2F2F2F
}

.best-list .text-box .item-color .gray {
    background-color: #626260
}

.best-list .text-box .item-color .brown {
    background-color: #B4866D;
}

.best-list .text-box .item-color .ivory {
    background-color: #E3DFDC;
}